#popup {
	width: 30%;
	position: fixed;
	box-shadow: 1px 1px 5px #888888;
	top: 20%;
	right: 10%;
	border-radius: 10px;
}

.title {
	width: 100%;
	height:30px;
	text-align: center;
	text-transform: capitalize;
	font-family: cursive;
	font-size: larger;
	text-align: center;
}

.content {
	height: 50%;
}

.header, .column {
	float: left;
	width: 50%;
	text-align: center;
	text-transform: capitalize;
	font-family: monospace;
	height:25px;
}
.headerRow{
	height:25px;
}
.headerRow:after{
	content:"";
	clear:both;
	display: block;
}
.bodyRow:after{
	content:"";
    clear:both;
    display: block;
}
.tips {
	font-family: monospace;
	width:80%;
	margin: 20px auto;
}
.tips:hover{
	content:attr(data-title);
}